html{
    font-family: "Microsoft Yahei";
}
#search-bar{
    width:100%;
    height: 40px;
    background-color:#39b45d;
    position: fixed;
    z-index: 1001;
    margin: 0px;
}
#logo{
    width:100xp;
    margin: 0px;
    margin-left: 10%;
    line-height: 40px;
	color:white;
    margin-right:20px;
}
#search-form{
    border: 1px solid rgb(204, 204, 204);
    font: 14px/18px 'Microsoft YaHei', SimHei, arial, 宋体;
    vertical-align: middle;
    display: inline-block;
    border-style: none;
    clear:none;
    margin-top:5px;
}
#search-textbox{
    height: 31px;
    font: 14px/18px "Microsoft YaHei",SimHei,arial,"宋体";

}
#search-btn{
    cursor:pointer;
    height: 30px;
    width:70px;
    text-align: center;
    outline: 0;
    font: 12px/28px "Microsoft YaHei",SimHei,arial,"宋体";
    color: #595959;
    border: 1px solid #ccc;
    background: -webkit-linear-gradient(top,#fcfcfc,#f1f1f1);
}
#userbar{
    position: absolute;
    right: 13px;
    top: 0;
    z-index: 999;
    height: 55px;
    font-family: arial;
    vertical-align: middle;
}
.aside-list{
    list-style: none;
    margin-bottom: 0px;
    margin-top:0px;
    vertical-align: middle;
}
.aside-list ul{
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
.aside-list li{
    border-left-color: #6fbe4b;
    float: left;
    height: 55px;
    line-height: 55px;
    padding: 0 7px;
    border-left: 0;
    margin-left: 0;
    list-style: none;
}
.aside-list li a{
    font-size: 12px;
    font-family: arial;
    text-decoration: underline;
    color: #fff;
    cursor: auto;
    text-decoration-color: #fff;
}
#wgt-banner{
    height: 100px;
    width:100%;
}
#body-userandbook{
    margin:0 auto;
    width:80%;
}
#ihome-booklist{
    float:left;
    left: 0;
    width: 800px;
    height: auto;
    position: relative;
    z-index: 20;
    list-style: none;
    margin: 0px;
    padding: 0px;
}
#ihome-user{
    float:right;
    left: 0;
    width: 250px;
    height: auto;
    position: relative;
    z-index: 20;
    margin: 0px;
    margin-top:5px;
    padding: 5px 0px 5px 0px;
    border: 1px solid #dcdcdc;
    border-width: 0 1px 1px;
}
.bookitem{
    padding-top: 30px;
    height: 242px;
    width:800px;
    position: relative;
    background-color:#f0f0f0;
}
.bookitem:hover{
    background-color:#fff;
}
.bookitem a{
    font-size: 14px;
    color: #1a66b3;
    font-family: simsun;
    cursor: default;
    text-decoration: none;
    outline: none;
}
.bookitem p{
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.booktitle{
    
    position: absolute;
    left: 240px;
    top: 21px;
    line-height: 20px;
    height: 20px;
    width: 550px;
    overflow: hidden;
}
.search-now-prize{
    color: #ff2832;
    font-family: arial,'Hiragino Sans GB',"Simsun";
    overflow: hidden;
    font-weight: bold;
}
.bookprice{
    position: absolute;
    left: 240px;
    top: 51px;
    line-height: 20px;
    height: 20px;
    width: 100px;
    overflow: hidden;
}
.bookdetails{
    position: absolute;
    left: 240px;
    top: 80px;
    line-height: 20px;
    height: 60px;
    width: 550px;
    overflow: hidden;
    font-size: 14px;
}
.search_btn_cart{
    position: absolute;
    left: 240px;
    top: 200px;
    line-height: 20px;
    overflow: hidden;
    font-size: 14px;
    width: 100px;
    height: 28px;
    line-height: 28px;
    background: #ff2832;
    border-radius: 3px;
    display: inline-block;
    zoom: 1;
    color: #fff;
    text-align: center;
    font-family: 'Microsoft Yahei';
    font-size: 14px;
    margin-right: 10px;
    cursor: pointer;
}
.search_btn_cart:hover{
    background-color: #fc0511;
}
.cart-item-name{
    overflow: hidden;
    line-height: 28px;
    height: 28px;
    width:100px;
    margin-top:0px;
    margin-bottom: 0px;
    position: absolute;
    top:0px;
    left: 5px;
    
}
.shoppingcart_btn_delete{
    line-height: 20px;
    overflow: hidden;
    font-size: 14px;
    width: 80px;
    height: 28px;
    line-height: 28px;
    background: #ff2832;
    border-radius: 3px;
    display: inline-block;
    zoom: 1;
    color: #fff;
    text-align: center;
    font-family: 'Microsoft Yahei';
    font-size: 14px;
    margin-right: 10px;
    cursor: pointer;
    position: absolute;
    top:0px;
    left: 150px;
}
.shoppingcart_btn_delete:hover{
    background-color: #fc0511;
}
#cart-list{
    
    float:left;
    left: 0;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 20;
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.cart-book{
    margin-top:10px;
    padding-top: 30px;
    position: relative;
    border: 1px solid #dcdcdc;
    border-width: 0 0px 1px;
}
#cart-purchase{
    float:left;
    height:30px;
    margin-top:10px;
    width:100%;
    position: relative;
}
.shoppingcart_btn_purchase{
    line-height: 20px;
    overflow: hidden;
    font-size: 14px;
    width: 80px;
    height: 28px;
    line-height: 28px;
    background: #5cb85c;
    border-radius: 3px;
    display: inline-block;
    zoom: 1;
    color: #fff;
    text-align: center;
    font-family: 'Microsoft Yahei';
    font-size: 14px;
    margin-right: 10px;
    cursor: pointer;
    position: absolute;
    top:0px;
    left:150px;

}
.shoppingcart_btn_purchase:hover{
    background-color: #3d8a3d;
}